#container {
  width: 350px;
  height: 580px;
  margin: 20px auto;
  // padding: 0px;
  // margin: 0px;
  // width: 100%;
}
.amap-marker-label {
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #fff;
}
.markerText {
  border: 1px solid #eee;
}
